html {
  font-family: "メイリオ", "Meiryo";
  text-decoration: underline;
}

h2 {
  background: #000000;
  color: #ffffff;
  border-left: dashed 3px #0000cd;
}

h3 {
  background: #0000cd;
  color: #ffffff;
}

footer {
  background: #000000;
  color: #ffffff;
}